body {
   background-color: #fafafa;
   text-align: center;
}

button {
   padding: 0;
   background-color: #fff;
}

/* #keyboard button:hover {
   background-color: purple;
   color: #fff;
} */

#wavetype {
   display: none;
}

.natural {
   border: 1px solid #767676;
   border-left: none;
   position: relative;
   height: 150px;
   width: 40px;
   background-color: #fff;
   z-index: 1;
   vertical-align: baseline;
   cursor: pointer;

}

.sharp {
   border: 1px solid #fff;
   border-top: none;
   height: 80px;
   width: 25px;
   background-color: #000;
   color: #fff;
   margin-left: -12.5px;
   border-radius: 0 0 6px 6px;
   z-index: 50;
   cursor: pointer;
}

.sharp:hover {
   background-color: #555;
}

.sharp+.natural {
   margin-left: -12.5px;
}

#keyboard-container,
#anglo-container {
   margin: 0 auto;
   width: fit-content;
   max-width: 100%;
   overflow-x: auto;
}

#anglo-container {
   margin-top: 1rem;
}

#keyboard {
   display:flex;
   width: fit-content;
   white-space: nowrap;
}

#keyboard:first-child {
   border-left: 1px solid #767676;
}

#chords {
   border: 1px solid #767676;
   border-top: none;
   border-radius: 0 0 8px 8px;
   width: fit-content;
   overflow: hidden;
   margin: 0 auto;
   visibility: hidden;
}



#chords button {
   height: 40px;
   padding: 0 1rem;
   border-left: 1px solid #767676;
   border-right: none;
   border-top: none;
   border-bottom: none;
   cursor: pointer;
}

#chords button:hover {
   background-color: #eee;
}

#chords button.selected {
   background-color: #CC0093;
   color: #fff;
}

#major {
   border-left: none !important;
}

#options {
   margin-top: 2rem;
}

#anglo-keyboard {
   text-align: left;
   width: fit-content;
   white-space: nowrap;
}

.button {
   display: inline-block;
   width: 50px;
   height: 50px;
   padding: 5px;
   white-space: normal;
   /* background-color: pink; */
}

.button .top {
   position: relative;
   width: 50px;
   height: 25px;
   border-radius: 25px 25px 0 0;
   border: 1px solid #767676;
   box-sizing: border-box;
   top: -1px;
   cursor: pointer;
}

.button .top:hover,
.button .bottom:hover,
.natural:hover {
   background-color: #eee;
}

.button .bottom {
   position: relative;
   width: 50px;
   height: 25px;
   border-radius: 0 0 25px 25px;
   border: 1px solid #767676;
   box-sizing: border-box;
   top: -3px;
   cursor: pointer;
}

#keyboard .selected,
#keyboard .selected:hover {
   background-color: #8400FF;
   color: #fff;
   border-color: #fff;
}

.top.selected,
.top.selected:hover {
   background-color: #0000FF;
   color: white;
}

.bottom.selected,
.bottom.selected:hover {
   background-color: #A30014;
   color: white;
}