* {
   font-family: sans-serif;
}

header {
   height: 50px;
   background-color: #333;
   color: #fff;
   display: flex;
   justify-content: space-between;
   position: absolute;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 100;
}

header div {
   display: flex;
   gap: 0.5rem;
}

#logo {
   display: inline-block;
   width: 40px;
   height: 50px;
   margin-left: 0.5rem;
}

header h1 {
   font-size: 1.15rem;
   margin-top: 0;
   line-height: 50px;
   display: inline-block;
}

#about {
   line-height: 50px;
   background-color: transparent;
   color: #fff;
   border: none;
   padding: 0 1rem;
   text-decoration: none;
   font-size: 1rem;
   cursor: pointer;
}

#about:hover {
   background-color: #555;
}

body {
   background-color: #fafafa;
   text-align: center;
}

button {
   padding: 0;
   background-color: #fff;
}

/* #keyboard button:hover {
   background-color: purple;
   color: #fff;
} */


.natural,
.sharp,
.top,
.bottom,
#chords button {
   font-size: 0.875rem;
}

.natural {
   border: 1px solid #767676;
   border-left: none;
   position: relative;
   height: 150px;
   width: 40px;
   display: inline-flex;
   align-items: end;
   justify-content: center;
   padding-bottom: 1rem;
   background-color: #fff;
   z-index: 1;
   vertical-align: baseline;
   cursor: pointer;

}

.natural:first-child {
   border-left: 1px solid #767676;
}

.sharp:first-child+.natural {
   margin-left: 0;
   border-left: 1px solid #767676;
}

.sharp {
   border: 1px solid #fff;
   border-top: none;
   height: 80px;
   width: 25px;
   background-color: #000;
   color: #fff;
   margin-left: -12.5px;
   border-radius: 0 0 5px 5px;
   z-index: 50;
   word-break: break-all;
   cursor: pointer;
}

.sharp:first-child {
   margin-left: 0;
   margin-right: -12.5px;
}

.sharp:hover {
   background-color: #555;
}

.sharp+.natural {
   margin-left: -12.5px;
}

#keyboard .absent {
   background-color: #ccc;
   color: #555;
}

#keyboard .sharp.absent {
   border: 1px solid #767676;
}

#keyboard .sharp.absent.selected {
   border-top: 1px solid #767676;
   border-left: 1px solid #fff;
   border-right: 1px solid #fff;
   border-bottom: 1px solid #fff;
}

#keyboard .absent.selected,
#keyboard .absent.selected:hover {
   background-color: #c588ff;
}

#keyboard-container {
   margin-top: 70px;
}

#keyboard-container,
#anglo-container,
#editor-anglo-container,
#editor-options-container {
   margin-left: auto;
   margin-right: auto;
   width: fit-content;
   max-width: 100%;
   overflow-x: auto;
}

#anglo-container {
   margin-top: 1rem;
}

#keyboard {
   display: flex;
   width: fit-content;
   /* white-space: nowrap; */
}

#chords {
   border: 1px solid #767676;
   border-top: none;
   border-radius: 0 0 8px 8px;
   width: fit-content;
   overflow-x: auto;
   max-width: 100%;
   white-space: nowrap;
   margin: 0 auto;
   visibility: hidden;
}



#chords button {
   height: 40px;
   padding: 0 1rem;
   border-left: 1px solid #767676;
   border-right: none;
   border-top: none;
   border-bottom: none;
   cursor: pointer;
}

#chords button:hover {
   background-color: #eee;
}

#chords button.selected {
   background-color: #CC0093;
   color: #fff;
}

#major {
   border-left: none !important;
}

#viewer-options {
   display: flex;
   text-align: left;
   max-width: fit-content;
   margin: 2rem auto;
   gap: 2rem;
   flex-wrap: wrap;
}

#viewer-options div {
   padding: 0;
   white-space: nowrap;
}

#viewer-options div div {
   display: flex;
   align-items: baseline;
   gap: 0.3rem;
}

#viewer-options select {
   margin-bottom: 0.5rem;
}

#viewer-options button,
#editor-options button,
.modal-actions button {
   height: 30px;
   padding-left: 0.5rem;
   padding-right: 0.5rem;
   border: 1px solid #767676;
   border-radius: 5px;
   cursor: pointer;
}

#viewer-options button:hover,
#editor-options button:hover,
.modal-actions button:hover {
   background-color: #eee;
}

#viewer-options button:active,
#editor-options button:active {
   background-color: #333;
   color: #fff;
}

#layout {
   height: 30px;
   background-color: white;
   border: 1px solid #767676;
   border-radius: 0%;
}

#layout:hover {
   background-color: #eee;
}

#editLayoutBtn {
   flex-basis: 60%;
}

#getLinkBtn {
   flex-basis: 40%;
}

#drone-option {
   margin-bottom: 0.5rem;
}

button#addToLayoutsBtn,
button#removeFromLayoutsBtn {
   display: none;
   padding: 0;
   margin-top: 0.5rem;
   border-color: transparent;
   background-color: transparent;
   cursor: pointer;
}

button#removeFromLayoutsBtn:hover,
button#removeFromLayoutsBtn:active {
   color: #A30014;
   background-color: transparent;
   text-decoration: underline;
}

button#addToLayoutsBtn:hover,
button#addToLayoutsBtn:active {
   background-color: transparent;
   text-decoration: underline;
   color: #000;
}

#anglo-keyboard,
#editor-anglo-keyboard {
   text-align: left;
   width: fit-content;
   white-space: nowrap;
}

.button {
   display: inline-block;
   width: 60px;
   height: 60px;
   white-space: normal;
   /* background-color: pink; */
}

.top {
   padding: 5px 5px 0 5px;
}

.bottom {
   padding: 0 5px 5px 5px;
}

.button .top button {
   position: relative;
   width: 50px;
   height: 25px;
   border-radius: 25px 25px 0 0;
   border: 1px solid #767676;
   border-bottom-width: 0.5px;
   box-sizing: border-box;
   cursor: pointer;
}

.button .top button:hover,
.button .bottom button:hover,
.natural:hover {
   background-color: #eee;
}

.button .bottom button {
   position: relative;
   width: 50px;
   height: 25px;
   border-radius: 0 0 25px 25px;
   border: 1px solid #767676;
   border-top-width: 0.5px;
   box-sizing: border-box;
   cursor: pointer;
}

#keyboard .selected,
#keyboard .selected:hover {
   background-color: #8400FF;
   color: #fff;
   /* border-color: #fff; */
}

.natural.selected {
   border-bottom-color: #767676;
   border-top-color: #767676;
   border-left-color: #fff;
   border-right-color: #fff;
}

.top button.selected,
.top button.selected:hover {
   background-color: #0000FF;
   color: white;
}

.bottom button.selected,
.bottom button.selected:hover {
   background-color: #A30014;
   color: white;
}

.button.push-only .top,
.button.pull-only .bottom {
   padding: 5px;
}

.button.push-only .top button {
   height: 50px;
   border-radius: 25px;
   border: 1px solid #767676;
}

.button.push-only .bottom {
   display: none;
}

.button.pull-only .bottom button {
   height: 50px;
   border-radius: 25px;
   border: 1px solid #767676;
}

.button.pull-only .top {
   display: none;
}

/* ===== VIEWER OPTIONS ===== */




/* ===== OCTAVE COLORS ===== */

.octave-top {
   height: 30px;
   width: 60px;
   z-index: 0;
   position: relative;
   margin: 0 0 -25px -5px;
}

.octave-bottom {
   height: 30px;
   width: 60px;
   z-index: 0;
   position: relative;
   margin: 0 0 -30px -5px;
}

#anglo-container.pretty .o2 {
   background-color: #FACD91;
}

#anglo-container.pretty .o3 {
   background-color: #FFFF80;
}

#anglo-container.pretty .o4 {
   background-color: #CAF982;
}

#anglo-container.pretty .o5 {
   background-color: #80FFFF;
}

#anglo-container.pretty .o6 {
   background-color: #81D3F8;
}

#anglo-container.pretty .o7 {
   background-color: #8080FF;
}

#keyboard-container.pretty .natural.o2 {
   box-shadow: 0 16px 0 0 #FACD91 inset;
}

#keyboard-container.pretty .natural.o3 {
   box-shadow: 0 16px 0 0 #FFFF80 inset;
}

#keyboard-container.pretty .natural.o4 {
   box-shadow: 0 16px 0 0 #CAF982 inset;
}

#keyboard-container.pretty .natural.o5 {
   box-shadow: 0 16px 0 0 #80FFFF inset;
}

#keyboard-container.pretty .natural.o6 {
   box-shadow: 0 16px 0 0 #81D3F8 inset;
}

#keyboard-container.pretty .natural.o7 {
   box-shadow: 0 16px 0 0 #8080FF inset;
}


/* ===== EDITOR ===== */

#editor {
   display: none;
   margin-top: 5rem;
}

#editor-header {
   display: flex;
   justify-content: space-between;
   margin: 0 auto;
   max-width: 700px;
   /* flex-wrap: wrap; */
}

#editor-header input {
   height: 36px;
   padding-left: 0.5rem;
   font-size: 1.25rem;
   border-top: none;
   border-bottom: 1px solid #ccc;
   border-left: none;
   border-right: none;
   box-sizing: border-box;
   background-color: transparent;
   flex-basis: 66%;
   max-width: 300px;
   overflow: hidden;
   text-overflow: ellipsis;
}

#editor-header input:hover {
   border-bottom: 2px solid #999;
}

#editor-header input.invalid {
   border-color: red;
}

#cancelBtn {
   height: 36px;
   padding-left: 1rem;
   padding-right: 1rem;
   border: 1px solid #767676;
   border-radius: 5px;
}

#finishedBtn {
   height: 36px;
   padding-left: 1rem;
   padding-right: 1rem;
   border: none;
   background-color: #6CAC04;
   color: #fff;
   border-radius: 5px;
}

#finishedBtn:hover {
   background-color: #578609;
}

#editor-anglo-container {
   margin-top: 2rem;
}

.editor-button {
   display: inline-block;
   width: 60px;
   height: 60px;
   white-space: normal;
   /* background-color: pink; */
}

.editor-button.selected {
   background-color: #e6ccff;
   border-radius: 8px;
}

.editor-button .top {
   padding-bottom: 1px;
}

.editor-button .bottom {
   padding-top: 1px;
}

.editor-button input[type=text] {
   width: 50px;
   height: 24px;
   padding: 0;
   box-sizing: border-box;
   text-align: center;
   border: 1px solid #767676;
   font-family: monospace;
}

.editor-button input[type=text]:focus {
   outline: none;
}

.editor-button .top input {
   border-radius: 5px 5px 0 0;
}

.editor-button .top input:focus {
   border: 2px solid #0000FF;
}

.editor-button .top input:hover {
   background-color: #E9E9FF;
}

.editor-button .bottom input {
   border-radius: 0 0 5px 5px;
}

.editor-button .bottom input:focus {
   border: 2px solid #A30014;
}

.editor-button .bottom input:hover {
   background-color: #FFE7EA;
}

.editor-button input.invalid {
   border-color: red;
   border-width: 2px;
}

.editor-button.deleted {
   width: 0;
   opacity: 0;
}

#editor-options-container {
   overflow-x: auto;
   margin: 2rem auto 0 auto;
   max-width: 100%;
}

#editor-options {
   display: flex;
   text-align: left;
   padding: 1rem 0;
   gap: 2rem;
   width: fit-content;
}

#editor-options div {
   padding: 0;
   white-space: nowrap;
}

#editor-options span {
   display: block;
}

#editor-options button {
   margin-top: 0.5rem;
}

#editor-error {
   max-width: 700px;
   margin: 1rem auto 1rem auto;
   text-align: left;
   display: none;
}

.error-text {
   color: #A30014;
   display: block;
   border: 1px solid #A30014;
   padding: 0.25rem;
   font-size: .825rem;
   margin-bottom: 0.5rem;
}

/* ===== MODALS ===== */

/* overlay */
.modal {
   display: none;
   /* Hidden by default */
   position: fixed;
   /* Stay in place */
   z-index: 100;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   background-color: rgb(47, 79, 79);
   /* Fallback color */
   background-color: rgba(47, 79, 79, 0.6);
}

/* modal content */
.modal-content {
   background-color: #fff;
   margin-left: auto;
   margin-right: auto;
   position: relative;
   top: 50%;
   transform: translateY(-50%);
   padding: 1.5rem;
   border: 1px solid #888;
   width: 80%;
   max-width: 400px;
   text-align: left;
   border-radius: 8px;
}

.modal-content h2 {
   margin-top: 0;
}

.modal-content input[type=text] {
   display: block;
   box-sizing: border-box;
   width: 100%;
   height: 25px;
}

.modal-content .error-text {
   visibility: hidden;
   border-width: 0;
}

.modal-actions {
   display: flex;
   justify-content: right;
   gap: 0.5rem;
}

.modal-actions .destructive {
   background-color: #eb0000;
   color: #fff;
   border: none;
}

.modal-actions .destructive:hover {
   background-color: #A30014;
}

.modal-actions .primary {
   background-color: #6CAC04;
   color: #fff;
   border: none;
}

.modal-actions .primary:hover {
   background-color: #578609;
}

.modal-content .success-text {
   color: #578609;
   visibility: hidden;
   display: block;
}

/* close button */
.close {
   color: #aaaaaa;
   float: right;
   font-size: 28px;
   font-weight: normal;
}

.close:hover,
.close:focus {
   color: #000;
   text-decoration: none;
   cursor: pointer;
}


/* ===== ARROWS ===== */

.arrow::before {
   border-top: 3px solid #555;
   border-right: 3px solid #555;
   content: '';
   display: inline-block;
   height: 8px;
   width: 8px;
   left: 1px;
   position: relative;
   top: 1px;
   transform: rotate(-45deg);
   vertical-align: top;
}

.arrow.up:before {
   top: 3px;
}

.arrow.right:before {
   left: -2px;
   transform: rotate(45deg);
}

.arrow.down:before {
   top: 0;
   transform: rotate(135deg);
}

.arrow.left:before {
   left: 2px;
   transform: rotate(-135deg);
}




@media only screen and (max-width: 600px) {
   #editor-header {
      flex-direction: column;
      justify-content: left;
   }

   #editor-header input {
      flex-basis: 100%;
      max-width: 100%;
   }

   #editor-actions {
      margin-top: 0.5rem;
      text-align: right;
   }

   #editor-anglo-container {
      padding-bottom: 8rem;
   }

   #editor-options-container {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: #efefef;
      border-top: 1px solid #ccc;
   }

   #editor-options {
      padding: 0.5rem;
      margin-left: auto;
      margin-right: auto;
   }

   #editor-options button {
      height: 44px;
      min-width: 44px;
      margin-right: 4px;
   }
}